@import './fade.css';

/* UNDERLINE BOUNCING */
@keyframes underline-bouncing-x {
  0%,
  100% {
    transform: scaleX(1);
    transform-origin: center;
  }
  50% {
    transform: scaleX(0);
    transform-origin: center;
  }
}

/* UNDERLINE BOUNCE */
.underline-bounce {
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.group:hover .underline-bounce {
  animation: scaling-bounce-x 0.4s ease-out forwards;
}

@keyframes scaling-bounce-x {
  0% {
    transform: scaleX(0);
  }
  60% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

/* SHINE EFFECT */
.shine-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(-150deg, transparent, rgba(255, 255, 255, 0.265), transparent);
  transition: left 0s;
  z-index: 2;
}

.shine-effect:hover::before {
  left: 100%;
  transition: left 0.3s ease-in-out;
}

/* DROPDOWN FADE */
.dropdown-fade {
  transition:
    opacity 0.3s ease-out,
    visibility 0.3s ease-out;
}

.group\/menu:hover .dropdown-fade {
  animation: fadeDown 0.3s ease-out forwards;
}
